// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: 0;
  color: #4C4E5F;
}

body { line-height: 26px; width: 100%; background-color: #eee; min-width: 750px; }

p { font-size: 17px; line-height: 28px; }
h2 { font-weight: 300; font-size: 35px; line-height: 40px; }
h5 { color: #5677fc; font-size: 16px; text-transform: uppercase; padding: 10px 10px 0 27px; }

input[type=text] {
  border: 0;
  padding: 12px 15px;
  line-height: 14px;
  font-size: 14px;
  border-radius: 3px;
  -webkit-appearance: none;
}

::selection {
  background: #5677fc;
  color: white;
  text-shadow: 0;
}
::-moz-selection {
  background: #5677fc;
  color: white;
  text-shadow: 0;
}

.centered-buttons {
  display: block;
  text-align: center;
}
.button-holder {
  padding: 10px 15px;
}
.button {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.16);
  background-color: white;
  color: #5677fc;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  margin: 15px 10px;
  text-decoration: none;
  position: relative;
  * {
    color: #5677fc;
  }
  &.icon-right {
    padding-right: 45px; 
    i {
      position: absolute;
      right: 15px;
      top: 0;
      font-size: 24px;
      width: 20px;
      line-height: 36px;
    }
  }
}

.promotional {
  padding: 35px 0 65px;
  text-align: center;
  p { font-size: 18px; }
  img { margin-bottom: 20px; }
}

.header {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(63, 81, 181);
  height: 75px;
  text-align: center;
  z-index: 999999;
  box-shadow: 0 2px 5px rgba(0,0,0,0.16);
  &.translucent {
    background-color: transparent;
    box-shadow: inset 0 100px 50px -50px rgba(255,255,255,0.1);
    .inner-header input {
      box-shadow: 0 5px 16px rgba(0,0,0,0.16);
      background-color: rgba(255,255,255,0.35);
      color: white;
      -webkit-transition: .25s;
      transition: .25s;
    }
    .logo {
      opacity: .5;
      -webkit-transition: .25s;
      transition: .25s;
    }
    &:hover .logo {
      opacity: 1;
    }
    input:focus, &:hover input {
      background-color: rgba(255,255,255,1);
      color: #4C4E5F;
    }
  }
  .inner-header {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
    position: relative;
    input {
      display: block;
      position: absolute;

      padding: 15px 20px;
      font-size: 22px;
      line-height: 22px;
      font-weight: 300;
      left: 50%;
      margin-left: -250px;
      top: 43px;
      top: 10px;


      width: 500px;
    }
    .logo {
      height: 55px;
      margin: 10px 0 0;
      width: auto;
      float: left;
    }
    .autocomplete {
      display: none;
      position: absolute;
      width: 500px;
      border-radius: 3px;
      background-color: white;
      padding: 10px 0;
      top: 85px;
      left: 50%;
      margin-left: -250px;
      box-shadow: 0 5px 16px rgba(0,0,0,0.36);
      text-align: left;
      z-index: 9999999999;
      -webkit-transition: .15s;
      &.show { display: block; }
      h5 { margin-bottom: 5px; }
      a {
        display: block;
        padding: 2px 25px;
        font-size: 18px;
        cursor: pointer;
        z-index: 99999;
        text-decoration: none;
        pointer-events: all;
        line-height: 55px;
        height: 55px;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
        .image {
          display: inline-block;
          line-height: 30px;
          height: 100%;
          min-width: 35px;
          text-align: center;
          margin-right: 10px;
          background-color: rgba(0,0,0,0.25);
          img {
            height: 100%;
            width: auto;
          }
        }
        &:hover {
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
  }
}

.view {
  padding-top: 25px;
  background-color: #eee;
}

.item {
  text-decoration: none;
  &.item-poster {
    display: inline-block;
    width: 200px;
    min-height: 362px;

    position: relative;
    vertical-align: top;
    margin: 10px 7px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    -webkit-transition: .1s;
    cursor: pointer;
    .background {
      position: relative;
      display: block;
      height: 306px;
      width: 200px;
      background-position: center;
      background-size: cover;
      z-index: 0;
      background-color: rgba(48, 63, 159, 0.95);
      z-index: 999;
    }
    &:after {
      content: '?';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(48, 63, 159);
      color: white;
      font-size: 120px;
      padding: 60px 10px 0;
      text-align: center;
      z-index: 0;
      box-sizing: border-box;
    }
    .info {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      color: #5677fc;
      box-shadow: 0 -2px 5px rgba(0,0,0,0.36);
      padding: 15px 15px;
      font-size: 16px;
      overflow: hidden;
      white-space: normal;
      z-index: 9999;
      span { color: #5677fc; }
    }
    &:hover {
      box-shadow: 0 4px 16px 1px rgba(0,0,0,0.25);
    }
    &.item-poster-small {
      width: 150px;
      min-height: 230px;
      .background {
        width: 150px;
        height: 230px;
      }
    }
  }
}

.item-holder {
  &.item-poster-holder {
    display: block;
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
  }
}

.item-scroller {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 15px;
  cursor: all-scroll;
  .note {
    padding: 10px 10px;
    font-style: italic;
  }
}

.details-header {
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
  margin-top: -100px;
  margin-bottom: 50px;
  background-color: rgb(26, 35, 126);
  &:hover .background {
    background-color: rgba(26, 35, 126, 0);
  }
  &.details-header-small {
    height: 350px;
    background-color: #283593;
  }

  .background {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(34, 37, 61, 0.6);
    background-size: cover;
    background-position: top center;
    background-blend-mode: darken;
    z-index: 0;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,0.26);
    opacity: 1;
    -webkit-transition: .5s;
    &.invisible {
      opacity: 0;
    }
  }
  .backdrop-controls {
    position: absolute;
    right: 25px;
    bottom: 25px;
    z-index: 99999;
    font-size: 20px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.16);
    -webkit-transition: .3s;
    &:hover {
      background-color: white;
      i {
        color: #4C4E5F;
      }
    }
    i {
      -webkit-transition: .3s;
      display: inline-block;
      padding: 3px 12px;
      color: white;
      cursor: pointer;
      &:first-child {
        border-right: 1px solid rgba(255,255,255,0.25);
      }
      &:hover {
        background-color: rgba(0,0,0,0.1);
        color: #5677fc;
      }
    }
  }
}

.page-holder {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  p { padding: 0 25px; }
}

.details-poster {
  display: block;
  position: absolute;
  height: 300px;
  width: 200px;
  left: 25px;
  top: -303px;
  border: 5px solid white;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  background-color: rgba(63, 81, 181, 1);
  background-size: cover;
  background-position: center;
  z-index: 999;
}

.main-info-holder {
  @media screen and (max-width: 1000px) {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  @media screen and (min-width: 1000px) {
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    bottom: 0;
  }
  .main-info {
    display: block;
    position: absolute;
    left: 0;
    padding-left: 255px;
    padding-right: 25px;
    padding-bottom: 25px;
    bottom: 0px;
    z-index: 999;
    width: 100%;
    z-index: 9999;
    * { color: white; }
    h1 {
      font-weight: 300;
      font-size: 40px;
      line-height: 50px;
      display: block;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.36);
      white-space: normal;
    }
    .stars {
      display: block;
      font-size: 30px;
      line-height: 40px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.36);
    }
    p {
      display: block;
      height: 30px;
      line-height: 30px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.36);
    }
    .external {
      position: relative;
      cursor: default;
      margin: 15px 0 0;
      background-color: rgba(255,255,255,0.4);
      padding: 0 5px 0 45px;
      -webkit-transition: .3s;
      &:hover {
        background-color: white;
        a, i {
          color: #4C4E5F;
        }
      }
      a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 5px 15px;
        border-left: 1px solid rgba(255,255,255,0.25);
        -webkit-transition: .3s;
        &:hover {
          color: #5677fc;
          background-color: rgba(0,0,0,0.1);
        }
      }
      i {
        position: absolute;
        top: 0;
        left: 15px;
        font-size: 25px;
        line-height: 36px;
        color: white;
        -webkit-transition: .3s;
      }
    }
  }
}

.details-content {
  padding: 25px;
  h5, p {
    padding-left: 0;
    padding-bottom: 10px;
  }
  table {
    width: 100%;
    tr {
      width: 100%;
      td {
        vertical-align: top;
        padding: 10px 0;
        &:first-child {
          padding-right: 15px;
          font-size: 12px;
          text-transform: uppercase;
        }
        &:nth-child(2) {
          -ms-word-break: break-all;
          word-break: break-all;
          word-break: break-word;

          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
        }
      }
    }
  }
}

@for $i from 1 through 10 {
  .col-#{$i} {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 10% * $i;
    padding: 0 15px 0 0;
  }
}

.trailer-wrapper {
  position: relative;
  padding-bottom: 42%;
  height: 0;
  width: 100%;
  max-width: 950px;
  margin: 10px auto 25px;
  display: block;
  @media screen and (min-width: 1000px) {
    padding-bottom: 424px;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.clickable {
  cursor: pointer;
}

.footer {
  background-color: #ddd;
  padding: 65px 25px 50px;
  text-align: center;
  font-size: 14px;
  color: rgba(0,0,0,0.25);
  a {
    color: rgba(0,0,0,0.25);
  }
}