<div class="page-holder" ng-if="moviesCount">
	<h5 id="movies">{{moviesCount}} Movies</h5>
</div>

<div class="item-scroller" ng-if="moviesCount">
	<a ng-href="#/title/{{movie.id}}/movie" ng-repeat="movie in movies" class="item item-poster item-poster-small">
		<div class="background" ng-style="{ 'background-image': 'url('+posterPath + movie.poster_path+')' }"></div>
		<div class="info">
			{{movie.title}} ({{movie.release_date.substr(0,4)}})
		</div>
	</a>
</div>

<div class="page-holder" ng-if="tvShowsCount">
	<h5 id="tvShows">{{tvShowsCount}} TV shows</h5>
</div>

<div class="item-scroller" ng-if="tvShowsCount">
	<a ng-href="#/title/{{tvShow.id}}/tv" ng-repeat="tvShow in tvShows" class="item item-poster item-poster-small">
		<div class="background" ng-style="{ 'background-image': 'url('+posterPath + tvShow.poster_path+')' }"></div>
		<div class="info">
			{{tvShow.name}}
		</div>
	</a>
</div>

<div class="page-holder" ng-if="peopleCount">
	<h5 id="people">{{peopleCount}} People</h5>
</div>

<div class="item-scroller" ng-if="peopleCount">
	<a ng-href="#/name/{{person.id}}" ng-repeat="person in people" class="item item-poster item-poster-small">
		<div class="background" ng-style="{ 'background-image': 'url('+profilePath + person.profile_path+')' }"></div>
		<div class="info">
			{{person.name}}
		</div>
	</a>
</div>